# Node modules
/node_modules/

# Dependencias de producción y de desarrollo (y sus carpetas asociadas)
/build/
/dist/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración de IDEs
/.idea/
/.vscode/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos específicos de Firebase (si tienes claves o configuraciones locales)
firebase.json
.firebaserc
src/firebase.ts


# Archivos generados por el sistema
npm-debug.log*
yarn-error.log*

# Directorios o archivos generados por procesos locales
/dist/
/coverage/

# Archivos de configuración de Next.js, si aplican
.next/

# Otros archivos específicos de IDEs (por ejemplo, Visual Studio Code, IntelliJ, etc.)
.vscode/
.idea/

# Configuración de archivos personales
*.log

# Archivos de caché de los navegadores
/.cache/
